@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body{
  width: 80%;
  margin: 0 auto;
}
.banner{
  background-image: url(https://images.unsplash.com/photo-1514395659518-2e1c59302e99?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  color: white;
  padding: 120px 0;
  text-align: center;
}

.button-green {
  background-color:aquamarine;
  width:fit-content;
}
a {
  font-family: "Lobster", sans-serif;
}

h2 {
  color:rgb(160, 160, 160);
  font-family: roboto;
}
